body {
  background-image: url("astrosurfer.png");
  text-align: center;
  background-repeat: no-repeat;
  /*background-position: relative;*/
  background-size: cover;
  margin: auto;
}

div {
  filter:alpha(opacity=60);
  margin-right: 50px;

}
h1 {
  font-family: Megrim, sans-serif;
  color: white;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

h2 {
  font-family: Julius Sans One, sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin: auto;
}

.new {
  font-family: Megrim, sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  border: solid white;

}
a {
  font-family: Julius Sans One, sans-serif;
  color: white;
  font-size: 20px;
}

legend {
  font-family: Megrim, sans-serif;
  color: white;
  font-size: 40px;
}

fieldset {
  font-family: Julius Sans One, sans-serif;
  color: white;
  font-size: 20px;
  width: 450px;
  float: inherit;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 20px;
}

a:hover {
  color: orange;
}

ul {
  list-style-type: none;
  text-align: center;
  line-height: 200%;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

li a {
  color: white;
  text-align: center;
}

li {
  color: white;
  font-family: Julius Sans One, sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
