body {
  background-image: url("astrosurfer.png");
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
font-family: Megrim;
color: white;
font-size: 70px;
font-weight: bolder;
}

h2 {
  font-family: Julius Sans One;
  color: white;
  font-size: 40px;
  font-weight: bolder;

}

ul {
  list-style-type: none;
  text-align: inherit;
  line-height: 200%;
}

li a {
  color: white;
}

li {
color: white;
font-family: Julius Sans One;
font-size: 20px;
font-weight: bold;

}
