body {
  background-image: url('hood_moon_smaller_2.jpg');
  background-attachment: fixed;
}

#wrap {
  max-width: 800px;
}

h1 {
  text-align: center;
  font-family: 'Special Elite', cursive;
  padding: 10px;
  margin: 5 auto;
}

h2 {
  font-family: 'Special Elite', cursive;
}

h3 {
  font-family: 'Special Elite', cursive;
}

p {
  font-family: 'Inconsolata', sans-serif;
}

table {
  font-family: 'Special Elite', cursive;
  margin: 5px auto;
  width: 570px;
}

td#delete {
  text-align: right;
}


.tasklist {
  padding: 15px;
  margin: 10px auto;
  overflow: auto;
  width: 600px;
  height: 150px;
}

#task_details {
  padding: 20px;
  margin: 10px auto;
  overflow: auto;
  width: 700px;
  height: 150px;
}

#back_button {
  text-align: center;
  margin: 15px;
  font-size: 24px;
}

.delete_button {
  border: none;
  font-family: 'Inconsolata', sans-serif;
}

.add_task {
  text-align: center;
  margin: 0 auto;
  font-family: 'Special Elite', cursive;
  font-size: 24px;
}

#divider {
  text-align: center;
  margin: 0 auto;
  font-family: 'Special Elite', cursive;
  font-size: 24px;
}

a:link{
  color: #000000;
  text-decoration: none;
}

a:visited{
  color: #000000;
}

a:hover{
color: #FD6268;
}