body {
  background-image: url('hood_moon_smaller.jpg');
  background-attachment: fixed;
  max-width: 900px;
}

#wrap {
  max-width: 800px;
}

h1 {
  text-align: center;
  font-family: 'Special Elite', cursive;
}

h3 {
  font-family: 'Special Elite', cursive;
}

p {
  font-family: 'Inconsolata', sans-serif;
}

#task {
  font-family: 'Special Elite', cursive;
}

#tasklist {
  padding: 20px;
  margin: 10px auto;
}

a:link{
  color: #000000;
  text-decoration: none;
}

a:visited{
  color: #000000;
}

a:hover{
color: #FD6268;
}