/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css?family=Special+Elite);

 body {
   font-family: Special Elite;
   background-image: url(coffee-smartphone-desk-pen.jpg);
 }

 a, h1 {
   font-family: Special Elite;
   color: black;
   text-decoration: none;
 }

 a:hover {
   text-decoration: underline;
 }

 input {
   margin: 10;
 }

 .on_paper {
   width: 425px;
   position: relative;
   left: 225px;
   top: 100px;
 }

 .complete {
   text-decoration: line-through;
 }

 .incomplete {
   text-decoration: none;
 }

 button {
   display: inline;
 }
