<h1><%= @person.name %>'s To Do List</h1>

<%= render 'working_tasks_table' %>

<p id='back_button'><%= link_to "back to #{@person.name}", "/people/#{@person.id}" %></p>

<%= render 'people_list_button' %>