<table>
  <col width="60%">
  <col width="20%">
  <col width="20%">
  <tr>
    <th id="task_name">Task</th>
    <th></th>
  </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td >
          <%= link_to "Task: #{task.name}", "/tasks/#{task.id}" %>
        </td>
        <td>
          <% if !task.completed_at.nil? %>
            <%= task.completed_at %>
          <<% else %>
            <%= button_to "Completed", {action: 'update', id: task.id, completed_at: Time.now}, method: :patch %>
          <% end %>
        </td>
        <td>
          <%= button_to "Delete", {action: 'destroy', id: task.id }, method: :delete, data: { confirm: "Are you sure?"} %></p>
        </td>
      </tr>
    <% end %>
</table>
