<div class="content">
  <h1>This took a lot of work. I promise.</h1>
  <ul>
    <% @tasks.each do |task| %>
    <li>
    <a href="/tasks/<%= task.id %>"><%= task.name %>: <%= task.description %></a>
    </li>
    <% end %>
  </ul>

  <%= link_to "add ANOTHER task", "/tasks/new", class: "add-task" %>
</div>
