<a href="tasks/new">Add a new Task</a>
<div class="tasks">
  <ul>
    <% @tasks.each do |task| %>
      <p><li> <%= link_to "Task: #{task.name}", "/tasks/#{task.id}" %></li>
        <%= button_to "delete", {action: 'destroy', id: task.id }, method: :delete, data: { confirm: "Are you sure?"} %></p>

    <% end %>
  </ul>
</div>
