<section>
  <h1>Tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= button_to "check", "/tasks/#{task.id}/complete", method: :patch, class: "button" %>
        <a href= "/tasks/<%= task.id %>"><%= task.name %></a>
      </li>
    <% end %>
  </ul>

  <div class="buttonHolder">
    <a href="/tasks/new" class="button plus"></a>
  </div>

  <div class="buttonHolder">
    <a href="/tasks/remove" class="button cross"></a>
  </div>
</section>
