<div class="page_element">
<h1>Task List</h1>

<nav>
  <%= link_to "New Task", "/tasks/new" %>

</nav>

  <table>
    <thead>
      <tr>
        <th colspan="3">
          <h2>Your Complete Task List</h2>
        </th>
      </tr>
      <tr>
        <th>

        </th>
        <th>
          Task
        </th>
        <th>
          Completed Date
        </th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <td class="bigger_checkbox">
          <% if task.completed_date.nil? %>
            ☐
            <% strike = "incomplete" %>
          <% else %>
            ☑
            <% strike = "complete" %>
          <% end %>
        </td>
        <td class=<%= strike %>>
          <%= link_to task.name.capitalize, "/tasks/#{task.id}" %>
        </td>
        <td>
          <%= task.completed_date.strftime("%m/%d/%Y") if !task.completed_date.nil? %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>
