<section>
  <h1>Tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
    <li><a href='/tasks/<%= task.id %>'><%= task.name %></a>
      <%= link_to 'Destroy',  { action: :destroy, id: task.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Back to List", action: :index %>
</section>
