<p>
  <%= link_to "Task List", "/" %>
</p>
<h1>Task Details</h1>
<p>
  Name: <%= @task.name %>
  <br>
  Description: <%= @task.description %>
  <br>
    <% if @task.comp_date == nil %>
        Completion Status: Incomplete
        <br>
        Completion Date: N/A
    <% else %>
        Completion Status: Complete
        <br>
        Completion Date: <%= @task.comp_date.strftime("%B %d, %Y") %>
    <% end %>
</p>
