/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

.table td, {
   text-align: center;
   font-family: 'EB Garamond', serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 23px 0;
}


.table th {
  text-align: center;
  font-family: 'EB Garamond', serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
}

h1 {
  text-align: center;
  padding: 25px;
      padding-top: 40px;
  font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 50px;
    margin: 0 0 23px 0;
}

body {
  font-family: 'EB Garamond', serif;
   font-size: 16px;
   line-height: 23px;
   margin: 0 0 23px 0;
 margin: 0;
 background-image: url('wood.png');
 background-size: 1440px 800px;
 display: compact;

 }

 div {
   background-color: #F1F2F2;
   opacity: 0.8;
   padding: 0px;
 }

 .container {
   margin-top: 50px;
   margin-bottom: 20px;
   padding-bottom: 20px;
 }

.butt {
  text-align: center;
  display: inline;
}

.checkmark {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.nocheckmark {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.delete {
  background: url(remove.png);
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  border-style: none;
  margin-top: 10px;
}

.profile-pic {
  max-width: 70%;
  max-height: 70%;
  opacity: 1.0;
  text-align: center;
  border: 2px solid black;
}

.show-person {
  // display: inline-block;
  text-align: center;
  opacity: 1.0;
  padding-bottom: 20px;
}

footer {
  text-align: center;
  color: #DFD3CA
}

footer .btn {
  margin: 20px;

}
// a:link {
//   text-decoration: none;
//   color: black;
//   font-family: Open Sans;
//   font-size: 0.40cm;
// }
//
// a:visited {
//   text-decoration: none;
//   color: grey;
// }
//
// a:hover {
//   text-decoration: underline;
// }
//
// a:active {
//   text-decoration: underline;
// }
