// // Place all the styles related to the tasks controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
// /*Relevant to all pages*/

h1 {
  font-family: 'Codystar', cursive;
  text-align: center;
  font-size: 70px;
  letter-spacing: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
}

#add_task_button {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  color: black;
  margin-bottom: 20px;
  border: 1px black solid;
  border-radius: 15px;
}

#add_text {
  font-size: 30px;
}

#add_task_button:hover {
  background-color: rgb(25, 78, 140);
  color: white;
}

#task_link {
  width: 400px;
  height: 80px;
  display: block;
  border-radius: 15px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url(hubble_1.jpeg);
  font-size: 30px;
  vertical-align: middle;
}

.completed_task {
  -moz-box-shadow: inset 0px 0px 47px 3px #d6d0cb;        -webkit-box-shadow: inset 0px 0px 47px 3px #d6d0cb;
  box-shadow: inset 0px 0px 277px 3px #d6d0cb;
}

#task_link:hover {
  -moz-box-shadow: inset 0px 0px 47px 3px #332f2b;
  -webkit-box-shadow: inset 0px 0px 47px 3px #332f2b;
  box-shadow: inset 0px 0px 277px 3px #332f2b;
}

#option_buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

label {
  margin-left: 100px;
}

input {
  width: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;

}

.big_button {
  -webkit-appearance: button;
  height: 70px;
  width: 70px;
  margin-top: 30px;
  border-radius: 30px;
}

// Relevant to the add task button
//
// #button_box {
//   text-align: center;
//   margin-left: auto;
//   margin-right: auto;
//   padding-top: 10px;
// }
//
// .add_button input {
//   -webkit-appearance: button;
//   font-size: 30px;
//   border: none;
//   background-color: inherit;
// }
//
//
//
// /*
//
// #button_box:hover {
//   width: 400px;
//   color: white;
//   background-color: rgb(25, 78, 140);
//   border-radius: 15px;
// }
//
// */
//
// a {
//   text-decoration: none;
//   color: #FFFFFF;
// }
//
// /*
//
// a:hover {
//   color: white;
//   background-color: rgb(25, 78, 140);
//   border-radius: 15px;
//
// }
//
// */

//
//
// /* Relevant to the tasks */
// .list_box {
//   width: 400px;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   font-size: 20px;
//   margin-top: 10px;
//   text-align: center;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   border-radius: 15px;
//
// }
//
//
// .list_box:nth-child(10n+3) {
//   background-image: url(hubble_1.jpeg);
// }
//
// .list_box:nth-child(10n+4) {
//   background-image: url(hubble_2.jpeg);
// }
//
// .list_box:nth-child(10n+5) {
//   background-image: url(hubble_2_5.jpeg);
// }
//
// .list_box:nth-child(10n+6) {
//   background-image: url(hubble_3.jpeg);
// }
//
// .list_box:nth-child(10n+7) {
//   background-image: url(hubble_4.jpeg);
// }
//
// .list_box:nth-child(10n+8) {
//   background-image: url(hubble_5.jpeg);
// }
//
// .list_box:nth-child(10n+9) {
//   background-image: url(hubble_6.jpeg);
// }
//
// .list_box:nth-child(10n+0) {
//   background-image: url(hubble_7.jpeg);
// }
//
// .list_box:nth-child(10n+1) {
//   background-image: url(hubble_8.jpeg);
// }
//
// .list_box:nth-child(10n+2) {
//   background-image: url(hubble_9.jpeg);
// }
