<h1>note to self</h1>
<h1>must do:</h1>
<table align="center">
  <% @tasks.each do |task| %>
    <tr>
      <td>
        <% if task.complete == true %>
          <a id=complete href="/task_list/<%= task.name %>"> <%= task.name %> </a>
        <% else %>
          <a id=incomplete href="/task_list/<%= task.name %>"> <%= task.name %> </a>
        <% end %>
      </td>
    </tr>
  <% end %>
    <!-- <tr>
      <td>
        + add a task
      </td>
    </tr> -->
</table>
