<div class="form">

<%= form_tag do %>

  <label id="top" for="name">task name:</label>
  <input type="text" size=40 id="name">

  <br>
  <label for="description">task description:</label>
  <textarea id="description" cols="40%"></textarea>

  <br>
  <button class="button" type="submit">add task</button>

<% end %>

</div>
