<div class="on_paper">
<h1><%= @task_name %></h1>
<p>
  <%= @description %>
  <br>
  <% if @completed_status == true && @completed_date == nil%>
     completed
  <% elsif @completed_status == true %>
     completed <%= @completed_date %>
  <% else %>
     incomplete
  <% end %>
<%= button_to "✎", "/tasks/#{params[:name]}/edit", :method => :get%>
</p>
<a href="/tasks">List Home</a>
</div>
