/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navigation_links {
   display: inline-block;
   margin: 5;
   padding: 3px;
 }

 .navigation_links a:link {color: rgb(39, 98, 207);}
 .navigation_links a:hover {font-weight: bold;}
 .navigation_links a:visited {color: rgb(39, 98, 207);;}

 nav {
   width: 276px;
   padding: 5px;
   border: 2px solid rgb(254, 230, 82);
   margin: 0;
 }
