/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Maven Pro', sans-serif;
  word-wrap: break-word;
  max-width: 960px;
  margin: 0 auto;
}

/*div {
  border: 1px solid magenta;
}*/

h1 {
  font-family: "Josefin Slab", serif;
  text-align: center;
  margin: 15px;
}

a {
  color: #660066;
  text-decoration: none;
}

span {
  font-weight: bolder;
  font-size: 22px;
}

.task-info, .new_task, .edit_task {
  margin: 0 auto;
  width: 50%;
  margin-top: 150px;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  background-color: rgba(246, 245, 231, .85);
}

.wrapper-front {
  background-image: url("flower-of-life.jpg");
  background-attachment: fixed;
  background-size: cover;
  border-radius: 10%;
  margin-top: 70px;
}

.task {
  display: block;
  border: 1px solid black;
  margin: 15px auto;
  padding: 15px;
  max-width: 50%;
  background-color: rgba(255, 255, 255, .75);
}

.info {
  display: inline-block;
  width: 90%;
}

.task span {
  font-size: 20px;
  font-weight: 500;
  vertical-align: bottom;
}

.task-detail, .task-date {
  display: block;
  margin: auto;
  padding-top: 10px;
  max-width: 90%;
}

.task-date {
  font-style: italic;
}

.task-buttons {
  display: inline-block;
  vertical-align: top;
}

.complete {
  text-decoration: line-through;
}

/*input[type="checkbox"] {
  margin-right: 10px;
  height: 18px;
  vertical-align: middle;
}*/

.button-farm {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-color: white;
}

form input[type="submit"] {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Josefin Slab", serif;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  border: none;
  border: 1px solid black;
  font-weight: normal;
  margin: 15px;
  padding: 5px;
}

legend {
  font-size: 24px;
}

form input[type="submit"] {
}

legend {
  font-size: 26px;
  font-family: "Josefin Slab", serif;
  text-align: center;
  font-weight: bold;
}

.new_task input[type="text"], .edit_task input[type="text"] {
  margin: 10px 0 0 10px;
}

fieldset {
  border: none;
  text-align: center;
}

button {
  background: transparent;
  border: none;
}
