// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  color: purple;
  margin-left: 120px;
}

li {
  color:yellow;
  display:inline-block;
}

.button_to {
  color: green;
  margin-left: 20px;
  float: left;
  display:inline-block;
}


footer {
  color: green;
  margin-top: 500px;
}

.tasks {
  font-family: monospace;
  margin-left: 90px;
}
