<section>
  <h1>Things to Do</h1>
  <h3>for the staff of Maggy Magazine</h3>
  <%= link_to "Tasks", "/tasks/" %>
  <%= link_to "Employees", "/people/" %>

  <%= link_to (image_tag "pencil_shavings.jpg", :id => "pencil_shavings"), "/tasks/" %>
</section>
