<section>
  <h1 id="welcome_title">Things to Do</h1>
  <h3 id="welcome_subtitle">for the staff of Maggy Magazine</h3>
  <div id="welcome_link_holder">
    <div class="welcome_links">
      <%= link_to "Tasks", "/tasks/" %>
    </div>
    <div class="welcome_links">
      <%= link_to "Employees", "/people/" %>
    </div>
    <div class="welcome_links">
      <%= link_to "Inspiration", "http://worstcats.tumblr.com/" %>
    </div>
  </div>
  <%= link_to (image_tag "pencil_shavings.jpg", :id => "pencil_shavings"), "/tasks/" %>
</section>
