<h1>Task List</h1>

<div id='tasklist'>
  <% @tasks.each do |task| %>
    <div id='task'><%= link_to task.name, "/tasks/#{task.id}" %> - <%= button_to "Delete Task", "/tasks/#{task.id}", method: :delete %></div>
  <% end %>
</div> 
