<%= form_for @task do |f| %>
  <div class='legend'><h1>What Do You Need to Get Done?</h1></div>
  <fieldset>
    <label for='name'>Task:</label>
    <%= f.text_field :name %>
    <br><br>
    <label for='description'>Description:</label>
    <%= f.text_area :description, html: {class: 'description', placeholder: 'Here\'s some stuff.'}%>
    <br><br><br>
    <%= f.submit %>
  </fieldset>
<% end %>