<h1>People</h1>
<ul>
  <% @people.each do |person| %>
    <li><a href="/people/<%= person.id %>"><%= person.name %></a></li>
    <% count = 0 %>
    <% person.tasks.each do |task| %>
      <% if task.complete.nil? %>
        <% count += 1 %>
      <% end %>
      <% end %>
      Tasks to do: <%= count %>
      <%= button_to "", "/people/#{person.id}", method: :delete, data: { :confirm => "Are you sure?" }, class: "delete-button" %>
  <% end %>
</ul>

<div class="square-button-container">
  <a class="square-button" href="/people/new">
    <p class="circle-button-title">+</p>
    <span>Add new owner</span>
  </a>
</div>
