<h1><%= @person.name %></h1>
<div class="center">
<% @tasks.each do |task| %>
  <span>
    <a href="/tasks/<%= task.id %>"<% if !task.completed.nil? %>class="strikethrough"<% end %>><%= task.name %></a>
  </span>
  <br />
<% end %>
</div>
<%= render partial: 'backbutton' %>
