<h1><%= @person.name %></h1>

<div  class="button-container">
  <a id="gray-button" class="circle-button" href="/people/<%= @person.id %>/tasks">
    <p class="circle-button-title">SHOW</p>
    <span>tasks</span>
  </a>
</div>
