<h1>People</h1>

<ul>
  <% @people.each do |person| %>
  <li>
    <%= link_to person.name, "/people/#{person.id}" %>
    <ul>
      <li>
        <%= person.tasks.where.not(completed_date: nil).length %> completed tasks
      </li>
      <li>
        <%= person.tasks.where(completed_date: nil).length %> incomplete tasks
      </li>
    </ul>

  </li>
  <% end %>
</ul>
