<!DOCTYPE html>
<html>
<head>
  <title>RailsTasklist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer>
  <div class="container">
    <h3>Do more things</h3>
    <a class="btn btn-default" href="/tasks/">See all tasks</a>
    <a class="btn btn-default" href="/tasks/new">Add a task here</a>
    <a class="btn btn-default" href="/people/">See all people</a>
    <a class="btn btn-default" href="/people/new">Add a person here</a>
    <p>
      &copy Claire Shekta
    </p>
  </div>
</footer>

</html>
