<h1>Task Details</h1>

<p>Task Name: <%= @task.name %></p>
<p>Task Description: <%= @task.description %></p>

<% if @task.completed_date != nil %>
  <p>Task Completed: <%= @task.completed_date %></p>
<% else %>
  <p>Task has not been completed.</p>
<% end %>
