<h1>Task Details</h1>

<p>Task Name: <%= @task.name %></p>
<% if @task.description != nil && @task.description != "" %>
  <p>Task Description: <%= @task.description %></p>
<% end %>

<% if @task.completed_date != nil %>
  <p>Task Completed: <%= @task.completed_date %></p>
<% else %>
  <p>Task has not been completed.</p>
<% end %>
