// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Open Sans', sans-serif;
  background-image: image-url("background_sea.png");
  background-size: cover;
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: Didot;
  font-size: 40px;
  margin-left: 20px;
  margin-bottom: 10px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  border-color: #747070;
  text-align: center;
  margin: auto;
  width: 700px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.task {
  margin: auto;
  text-align: center;
  font-size: 18px;
  width: 400px;
  background-color: #ffffff;
  background-color: opacify(transparent, 0.1);
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
  margin: 15px;
  word-wrap: break-word;
}

.list {
  margin: auto;
  width: 400px;
}

a {
  text-decoration: none;
  margin:auto;
  text-align: center;
  font-size: 18px;
  color: black;
}

a:hover {font-weight: bold}

.return_home {
  font-size: 22px;
}

.button {
  background-color: transparent;

}

.new_task_button {
  color: rgb(181, 36, 26);
  background-color: transparent;
  margin-left: 40px;
}

.task {
  margin: auto;
}
