/* line 1, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
body {
  background-image: url("hood_moon_smaller.jpg");
  background-attachment: fixed;
}

/* line 6, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
#wrap {
  max-width: 800px;
}

/* line 10, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
h1 {
  text-align: center;
  font-family: 'Special Elite', cursive;
  padding: 10px;
  margin: 5 auto;
}

/* line 17, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
h3 {
  font-family: 'Special Elite', cursive;
}

/* line 21, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
p {
  font-family: 'Inconsolata', sans-serif;
}

/* line 25, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
table tr #task {
  font-family: 'Special Elite', cursive;
  margin: 3px;
}

/* line 30, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
#task:before {
  content: "+";
  margin-right: 4px;
}

/* line 35, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
.tasklist {
  padding: 15px;
  margin: 10px auto;
  overflow: auto;
  width: 600px;
  height: 200px;
}

/* line 43, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
.tasklist#completed
#task_details {
  padding: 20px;
  margin: 10px auto;
  overflow: auto;
  width: 700px;
  height: 150px;
}

/* line 53, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
#back_button {
  text-align: center;
  margin: 15px;
  font-size: 24px;
}

/* line 59, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
.delete_button {
  border: none;
}

/* line 63, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
a:link {
  color: #000000;
  text-decoration: none;
}

/* line 68, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
a:visited {
  color: #000000;
}

/* line 72, /Users/rileypants/Ada/git/project-forks/TaskListRails/TaskList/app/assets/stylesheets/tasks.scss */
a:hover {
  color: #FD6268;
}
