<!DOCTYPE html>
<html>
<head>
  <title>Dumb Things I Gotta Do Today</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
  <link rel="icon"
      type="image/ico"
      href="favicon.ico">
</head>
<body>
<header>Dumb Things I Gotta Do Today: Simpson Family Task List</header>
<%= yield %>

</body>
</html>
