/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Gloria Hallelujah|sans-serif');

 * {
   font-family: Gloria Hallelujah, sans-serif;
   color: #405421;
 }

 header, footer {
   /*border-width: 5;
   border-style: solid;
   border-color: #1E1902;*/
   /*background-color: #367237;*/
   text-align: center;
 }

 section {
   margin: 20 0;
   /*background-color: #6ABA50;*/
 }

 body {
   background-image: url('/assets/background.jpg');
   /*background-color: #367237;*/
   background-repeat: no-repeat;
   background-size: 950px, 950px;
 }

 /*.button {
 	background-color:#888855;
 	border-radius:8px;
 	border:3px solid #875424;
 	display: inline-block;
   color: #1E1902;
   font-size:17px;
 	padding:6px 10px;
 	text-decoration:none;
 }

 .button:hover {
 	background-color:#6F7F4F;
 }*/

 /*ul {
   list-style-type: none;
   margin-top: 50px;
   margin-bottom: 0;
   margin-left: 100px;
 }

 li {
   display: flex;
   justify-content: space-between;
 }*/

 ::-webkit-input-placeholder {
   color: #1E1902;
   font-size:12px;
 }

 table {
   padding-bottom: 20;
   font-size: 12px;
 }

 th {
   font-size: 20px;
   text-decoration: underline;
 }

 td {
   text-align: left;
 }

 th, td {
   padding-left: 50px;
 }

 a {
   text-decoration: underline;
   font-size: 12px;
   color: #405421;
 }

 /*.button_to {
   display: inline-block;
   margin-right: 200px;
 }*/

 .delete_button, .submit, .done_button {
   background-color: #E8F7D0;
   font-size: 8px;
   border-radius: 5px;
   color: #405421;
 }

 fieldset{
   margin-top: 75px;
   width: 800px;
 }

 div {
   padding-top: 25px;
   text-align: center;
 }

 .add_task {
   color: #405421;
   font-size: 28px;
 }
