<div class="person-info">
  <p>
    <span>Name:</span> <%= @person.name %>
  </p>
  <% unless @person.bio.empty? %>
  <p>
    <span>Bio:</span> <%= @person.bio %>
  </p>
  <% end %>

  <%= button_to("See #{@person.name}'s Tasks", "/people/#{@person.id}/tasks", method: "get", title: "Tasks") %>
  <%= link_to(image_tag("https://33.media.tumblr.com/8092a0b1f2aa7d8cf7fc8d58f7f36155/tumblr_n4fkyi9suN1qdwrtpo1_400.gif"), "/" ) %>
</div>
