<h1>This is The task list of <%= @person.name %> </h1>
<ul>

<% @tasks.each do |task| %>
  <li> Task: <%= task.name %> description: <%= task.description %> </li>
  <% if !task.completed_at.nil? %>
    <p> completed_at: <%= task.completed_at %></p>
  <% else %>
    <p>This task is not yet completed</p>
  <% end %>
<% end %>
</ul>
